form button{
	cursor: pointer;
	font-size:15px;
	font-weight: bold;
	padding:5px 0;
}
form button:hover{
	background:white ;
	color:#313f67;
}

h3{
	font-size:16px;
	color:#bbb;
	
}
.book{
	width:245px;
	height:250px;
	margin:15px;
	padding:15px;
	float:left;
	border:1px solid #eee;
	border-top:3px solid #313f67;
	overflow:hidden;
	color:#555;
}
.book li{
	margin-bottom:10px;
}

.test{
	text-align: center;
	color:tomato;
	margin-bottom: 15px !important;
	font-weight:800;
}

.cancle{
	width:245px;
	background:#313f67;
	border:1px solid #313f67;
	border-radius:10px;
	color:white;
	padding:10px 0;
	font-weight: 800;
	font-size:16px;
}


.store{
	text-align: center;
	height:inherit;
	float:none;
	width:80%;
	margin:20px auto;
	
}

.bbtn{
	width:100px;
	float:left;
	background:#313f67;
	border:1px solid #313f67;
	border-radius:10px;
	color:white;
	padding:5px 0;
	margin:10px;
}

.btnbox{
	width:250px;
	margin:0 auto !important;
}
